/* 
PACIFIC BLUE     #2AB7CA
GLOSSY GRAPE     #A188A6 
CHARCOAL         #2E4057
PISTACHIO        #8CD867
BABY EYES BLUE   #A3CEF1
 */


/* Global Styles
__________________________________ */
body {
    color: #2E4057;
}

img {
    width: 300px;
}

a {
    color: #EFF8E2
}

a:hover {
    text-decoration: none;
}


/* Profile
__________________________________ */
header {
    background-color: #A3CEF1;
    border: 5px solid #2E4057;
}


/* Projects
__________________________________ */
.projects {
    background-color: #8CD867;
    border: 5px solid #2E4057;
}

.projects .btn {
    background: #2E4057;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects .btn:hover {
    background: rgba(46, 64, 87, 70%);
}

/* Work Experience
__________________________________ */
.work-experience {
    background-color: #A188A6;
    border: 5px solid #2E4057;
}



/* Education
__________________________________ */
.education {
    background-color: #2AB7CA;
    border: 5px solid #2E4057;
}



/* Contact Info
__________________________________ */
footer {
    background-color: #32CD32;
    border: 5px solid #2E4057;
}