/* 
PACIFIC BLUE     #2AB7CA
GLOSSY GRAPE     #A188A6 
CHARCOAL         #2E4057
PISTACHIO        #8CD867
BABY EYES BLUE   #A3CEF1
 */


/* Global Styles
__________________________________ */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #2E4057;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a {
    color: #FAF9F6
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 36px;
}

h1,
h2 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
}

.content-wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}


/* Profile
__________________________________ */
header {
    background-color: #A3CEF1;
}


/* Projects
__________________________________ */
.projects {
    background-color: #EFF8E2;
}

.projects .btn {
    background: #2E4057;
    color: #FAF9F6;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects .btn:hover {
    background: rgba(46, 64, 87, 70%);
}

.projects a {
    color: #2AB7CA
}

.more-information {
    margin-bottom: 50px;
}

.project-item {
    overflow: hidden;
}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}

/* Work Experience
__________________________________ */
.work-experience {
    background-color: #A188A6;
}

.work-experience .btn {
    background: #2E4057;
    color: #FAF9F6;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.work-experience .btn:hover {
    background: rgba(46, 64, 87, 70%);
}


/* Education
__________________________________ */
.education {
    background-color: #FCE762;
}



/* Contact Info
__________________________________ */
footer {
    background-color: #8CD867;
}

.contact-list a {
    color: #FAF9F6;
}