/* 
PACIFIC BLUE     #2AB7CA
GLOSSY GRAPE     #A188A6 
CHARCOAL         #2E4057
PISTACHIO        #8CD867
BABY EYES BLUE   #A3CEF1
 */


/* Global Styles
__________________________________ */
body {
    color: #2E4057;
    margin: 0;
    padding: 0;
}

img {
    width: 300px;
}

a {
    color: #FAF9F6
}

a:hover {
    text-decoration: none;
}

h1 {
    margin-top: 0;
}

h2 {
    margin: 0;
}

.content-wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}


/* Profile
__________________________________ */
header {
    background-color: #A3CEF1;
}


/* Projects
__________________________________ */
.projects {
    background-color: #EFF8E2;
}

.projects .btn {
    background: #2E4057;
    color: #FAF9F6;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects .btn:hover {
    background: rgba(46, 64, 87, 70%);
}

.projects a {
    color: #2AB7CA
}

/* Work Experience
__________________________________ */
.work-experience {
    background-color: #A188A6;
}

.work-experience a {
    color: #FAF9F6;
}


/* Education
__________________________________ */
.education {
    background-color: #2AB7CA;
}



/* Contact Info
__________________________________ */
footer {
    background-color: #75876c;
}

.contact-info a {
    color: #FAF9F6;
}